@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

/*  -------------  Body  -------------  */

body {
    position: absolute;
    width : 100%;
    font-family: 'Inter', sans-serif;
    flex-direction: column;  
    background-color: rgb(255, 255, 255);  
    color: white;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#RetourDebut {
    height: 0px;
    margin-top: 0px;
    visibility: hidden;
}

a {
    color: black;
}

a:hover {
    color : orange;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

@keyframes reveal {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transition: scale(1);
        opacity: 1;
    }
}

@keyframes slide {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*  -------------  Body  -------------  */



/*  -------------  Headder  -------------  */


header { 
    position: fixed;
    height: 100px;
    width : 100%;
    top: 0;
    right: 0;
    margin-top: 0px;
    z-index: 999;
    display: block;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(0,0,0,0.2);
    gap: 20px;
}

    /*    Logo en haut à droite    */

    #divlogo {
        margin: auto auto auto 10px;
        display: flex;
        align-items: center;
        width: 80px;
        min-width: 7%;
        min-width: 80px;
        max-height: 90px;
        height: 80%;
    }

    #LogoSoleMeo {
        width: 100%;
        height: 100%;
    }

    /*    Logo en haut à droite    */


    /*    Menu de selection    */

    .LiMenuSelection {
        list-style: none;
    }
    
    #navMenus {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: right;
        text-align: center;
        margin-right: 10px;
        min-width: 70%;
        gap: 3rem;
    }

    #RetourBandeau3,
    #RetourFooter {
        margin-top: 0px;
        height: 0;
        visibility: hidden;
        overflow: hidden;
    }

    #RetourBandeau2,
    #RetourBandeau4 {
        height: 0px;
        visibility: hidden;
        overflow: hidden;
    }

    #navMenus .links {
        display: flex;
        gap: 2rem;
    }
    
    .dividerBandeau {
        width: 1px;
        background-color: white;
        height: 80px;
    }

        /*   Boutton inscription    */


        .ActionButton {
            display: inline-flex;
            position: relative;
            border: solid 1px rgb(230, 215, 9);
            padding: 0.5rem 1.2rem;
            border-radius: 5px;
            outline: none;
            font-size: 0.9rem;
            color: rgb(255, 255, 255);
            display: inline-flex;
            letter-spacing: 1px;    
            overflow: hidden;   

        }
        .ActionButton span{
            position: relative;
            z-index: 1;
        }
        .ActionButton:hover {
            color: white;
        }
        .ActionButton::before {
            content: '';
            position: absolute;
            top: 20px;
            transform: translate(-40%, -50%);
            width: 0px;
            height: 0px;
            border-radius: 50%;
            background: rgb(230, 215, 9);
            transition: width 1.5s, height 1.5s;
            z-index: 0;
            right: -160px;

        }
        .ActionButton:hover::before {
            width: 370px;
            height: 200px;
        }

        /*   Boutton inscription    */


        /*   Boutton connexion    */

        .Connexion {
            border: 1px solid rgb(135, 176, 212);
            position: relative;
            margin-right: 5px;
            font-size: 0.9rem;
            outline: none;
            padding: 0.5rem 1.2rem;
            display: inline-flex;
            background-color: transparent;
            border-radius: 5px;
            letter-spacing: 1px; 
            overflow: hidden;  
        }
        .Connexion:hover {
            color: rgb(255, 255, 255);
        }
        .Connexion span{
            position: relative;
            z-index: 1;
        }
        .Connexion::before {
            content: '';
            position: absolute;
            top: 20px;
            transform: translate(-40%, -50%);
            width: 0px;
            height: 0px;
            border-radius: 50%;
            background: rgb(135, 176, 212);
            transition: width 1.5s, height 1.5s;
            z-index: 0;
            right: -160px;

        }
        .Connexion:hover::before {
            width: 370px;
            height: 200px;
        }

        /*   Boutton connexion    */

        /*    Menu burger    */

        .links a {
            color: white;
            overflow: hidden;
            padding: 5px;
            width: 100%;
            z-index: 1;
        }
        

        .links li a:hover {
            color : orange;
            opacity: 75%;
        }

        #navMenus .menuBurgerIcone {
            display: none;
            position: absolute;
            font-size: 1.5rem;
            cursor: pointer;
            overflow: hidden;
        }

        .menuBurgerIcone i {
            font-size: 2em;
        }     

        .menuBurger {
            height: 0;
            position: absolute;
            backdrop-filter: blur(3px);
            background: rgba(0,0,0,0.2);
            border-radius: 10px;
            top: 60px;
            right: 2rem;
            width: 200px;
            transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            overflow: hidden;
            margin-top: 20px;
        }

        .menuBurger.open {
            height: auto;   
        }

        .buttons-Burger {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border-bottom: transparent solid 15px; 
        }

        .menuBurger .LiMenuSelection,
        .menuBurger .buttons-Burger{
            width: 78%;
            margin: auto;
            text-align: center;
        }

        .divider {
            height: 1px;
            background-color: white;
            width: 80%;
            margin: auto auto 1rem auto;
        }

        .menuBurger .LiMenuSelection {
            padding: 0.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .menuBurger .ActionButton,
        .menuBurger .Connexion {
            width: 80%;
            align-items: center;
            justify-content: center;
        }

        /*    Menu burger    */

    /*    Menu de selection    */
    

/*  -------------  Headder  -------------  */



/*  -------------  Main  -------------  */



main {
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

    /*    Bandeaux    */

    @keyframes TransitionBandeaux {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }.BandeauxMain {
        opacity: 0;
    }.appear {
        opacity: 1;
        animation: TransitionBandeaux 1.5s ease-in-out;
    }
  
    .bandeau1 {
        background: url(../Images/FondSite.jpg) fixed 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bandeau3 {
        background: url(../Images/Pates1.jpeg) fixed 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*@media (width > 990px) {

        .bandeau1::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.4%;
            top: 20%;
            background: linear-gradient(rgb(222, 222, 156) , yellow);     
           }

        .bandeau2::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.3%;
            top: 39.7%;
            background: linear-gradient(yellow, rgb(222, 222, 156));     
        }.bandeau2::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.3%;
            top: 40%;
            background: transparent;     
        }

        .bandeau3::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.3%;
            top: 60%;
            background: linear-gradient(rgb(222, 222, 156) , yellow);     
        }
        
        .bandeau4::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.3%;
            top: 79.7%;
            background: linear-gradient(yellow, rgba(99, 99, 99, 0.2));
        }.bandeau4::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.3%;
            top: 80%;
            background: transparent;        }
    }*/

    .BandeauxMain {
        display: flex;
        min-height: 850px;
        margin: 0px;
    }   

    #divTextBandeau2,
    #divTextBandeau3,
    #divTextBandeau4 {
        display: flex;
        align-items: center;
        justify-content: center;    
        overflow: hidden;
    }

    #imgBandeau2,
    #imgBandeau3,
    #imgBandeau4 {
        width: 100%;
        height: 100%;
        margin: 0;
        animation: reveal linear;
        animation-timeline: view();
        animation-range-start: cover 0%;
        animation-range-end: contain 50%;

    }

    #textBandeau2,
    #textBandeau3,
    #textBandeau4 {
        animation: slide linear;
        animation-timeline: view();
        animation-range-start: cover 0%;
        animation-range-end: cover 30%;
    }
    

    @media (width < 551px) {

        .BandeauxMain {
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }

        .bandeau1 {
            justify-content: center;
        }

        .BandeauxMain div p {
            text-align: center;
            font-size: 100%;
            overflow: hidden;
        }

        .bandeau2,
        .bandeau4  {
            background-color: rgb(255, 255, 0);
            color: rgb(0, 0, 0);
        }

        #divimgBandeau2,
        #divimgBandeau3, 
        #divimgBandeau4 {
            height: 20%;
            width: auto;
        }

        #divTextBandeau2,
        #divTextBandeau3,
        #divTextBandeau4 {
            width: 80%;
        }
    }

    @media (width > 550px) {
        .bandeau1,
        .bandeau3 {
            align-items: center;
            flex-direction: row-reverse;
            justify-content: space-around;
        }

        .bandeau2,
        .bandeau4  {
            background-color: rgb(255, 255, 0);
            color: rgb(0, 0, 0);
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
        }

        #divimgBandeau2,
        #divimgBandeau3, 
        #divimgBandeau4 {
            width: 30%;
        }

        #divTextBandeau2,
        #divTextBandeau3,
        #divTextBandeau4 {
            width: 60%;
        }

        .BandeauxMain div p {
            text-align: justify;
            font-size: 100%;
            overflow: hidden;
        }
    }

        /*    Bandeau N°1    */

        .bandeau1 {
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin: 0;
            overflow: hidden;
        }

        #reproductionNavBar {
            height: 100px;
            width: 100%;
        }

        #messageCentre {
            width: 70%;
            margin: auto;
        }

        #messageCentre p {
            text-align: center;
            font-size: 40px;   
        }

        /*    Bandeau N°1    */

    /*    Bandeaux    */

/*  -------------  Main  -------------  */



/*  -------------  Footer  -------------  */

footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    background-color: rgb(99, 99, 99);
    min-height: none;
}

    /*    Contacts   */

    .Contacts {
        position : fixed;
        bottom : 20%;
        left : 0px;
        display : flex;
        flex-direction : column;
        width: 50px;
        max-width: 5%;
        overflow: hidden;
        border: solid 1px rgb(135, 176, 212);
        padding: 2%;
        border-start-end-radius: 15px;
        border-end-end-radius: 15px;
    }

    .Contacts img {
        margin-top: 8%;
        margin-bottom: 8%;
        z-index: 1;
        cursor: pointer;
    }

    .Contacts img:hover {
        margin-bottom: 16%;
        margin-top: 0;
        opacity: 50%;
    }

    .Contacts img:active {
        opacity: 100%;
    }
    .Contacts::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        transform: translate(-40%, -50%);
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background: rgb(135, 176, 212);;
        transition: width 2.5s, height 2.5s;
        z-index: 0;
        right: -160px;

    }
    .Contacts:hover::before {
        width: 900%;
        height: 300%;
    }

    /*    Contacts    */


    /*    Carte et commandes en ligne   */

    .CarteCommande {
        position : fixed;
        bottom : 40%;
        right : 0px;
        display: flex;
        flex-direction : column;
        width: 60px;
        overflow: hidden;
        margin-right: 10px;
    }
    @media (height < 420px) {
        .CarteCommande {
            bottom: 30%;
        }
    }@media (height < 350px) {
        .CarteCommande {
            display: none;
        }
    }

    .CarteCommande div {
        z-index: 1;
    }

    .CarteCommande div img {
        margin-top: 10%;
        margin-bottom: 10%;
        width: 100%;
        cursor: pointer;
    }

    .CarteCommande div img:hover {
        margin-bottom: 20%;
        margin-top: 0;
        opacity: 50%;
    }

    .CarteCommande div img:active {
        opacity: 100%;
    }
    @media (width < 550px) { 
        .CarteCommande div img:hover {
            opacity: 100%;
        }
    }

    /*    Carte et commandes en ligne   */
    

    /*    Boutton    */

    .btn {
        height: 100px;
        display: block;
        font-size: 30px;
        font-weight: lighter;
        color: #333;
        padding: 25px 80px;
        background: #ffd17b;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        position: relative;
        box-shadow: 0 6px #efa424;
    }

    .btn:hover {
        box-shadow: 0 4px #efa424;
        top: 2px;
    }

    .btn:active {
        box-shadow: 0 0 #efa424;
        top: 6px;
    }

    /*    Boutton    */


/*  -------------  Footer  -------------  */



/*  -------------  Defaut  -------------  */


.BodyDefaut {
    height: 500%;
    width: 100%;
}

.MainDefaut {
    display: none;
}
.MainDefaut.Active { 
    min-height: 80%;
    max-height: 80%;
    display: flex;
}


.bandeau1,
.bandeau2,
.bandeau3,
.bandeau4 {
    min-height: 100vh;
    max-height: 100vh;
}

footer {
    min-height: 21%;
}


/*  -------------  Defaut  -------------  */



/*  -------------  Carte  -------------  */

.BodyCarte {
    height: 500%;
    width: 100%;
}

.MainCarte {
    display: none;
}
.MainCarte.Active { 
    min-height: 80%;
    max-height: 80%;
    display: flex;
    background: rgb(251, 236, 156);
}

    /*    Menu burger    */

    .menuBurgerCarte {
        position: relative;
        height: 0;
        display: block;
        position: fixed;
        z-index: 2;
        right: 80px;
        margin-top: 10px;
        overflow: hidden;
        backdrop-filter: blur(3px);
        background: rgba(0,0,0,0.2);
        border-radius: 10px;
        width: 200px;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    @media (width < 255px) { 
        .menuBurgerCarte {
            display: none;
        }
    }
    @media (height < 420px) {
        .menuBurgerCarte {
            margin-top: 0px;
        }
    }@media (height < 350px) {
        .menuBurgerCarte {
            display: none;
        }
    }

    .menuBurgerCarte.open {
        height: auto;   
    }

    .LiMenuSelectionCarte {
        width: 78%;
        margin: auto;
        text-align: center;
    }

    .dividerCarte {
        height: 1px;
        background-color: white;
        width: 80%;
        margin: auto auto 1rem auto;
    }

    .LiMenuSelectionCarte {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        /*   Boutton Quitter    */

        .DivQuitterCarte {
            display: flex;
            width: 80%;
            margin: auto auto 0.7rem auto;

        }

        .QuitterCarte {
            align-items: center;
            justify-content: center;
            border: 1px solid rgb(216, 15, 15);
            position: relative;
            font-size: 0.9rem;
            outline: none;
            display: inline-flex;
            background-color: transparent;
            border-radius: 5px;
            letter-spacing: 1px; 
            overflow: hidden;   
        }
        .QuitterCarte span{
            position: relative;
            z-index: 1;
            text-align: center;
        }
        .QuitterCarte::before {
            content: '';
            position: absolute;
            top: 20px;
            transform: translate(-40%, -50%);
            width: 0px;
            height: 0px;
            border-radius: 50%;
            background: rgb(255, 0, 0);
            transition: width 1.5s, height 1.5s;
            z-index: 0;
            right: -160px;

        }
        .QuitterCarte:hover::before {
            width: 370px;
            height: 200px;
        }

        /*   Boutton Quitter    */

    /*    Menu burger    */

    /*    bandeau 1 Carte    */

    .Bandeau1Carte {
        background: url(../Images/FondCarte.jpg) fixed 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    /*    bandeau 1 Carte    */


/*  -------------  Carte  -------------  */



/*  -------------  Responsive  -------------  */


@media (width > 990px) {


        /*   Navbar   */

        .menuBurger {
            display: none;    
        }

        .Connexion {
            color: rgb(255, 255, 255);
        }

        .LiMenuSelection a{
            color: white;
        }

        .LiMenuSelection a:hover{
            color : orange;
        }
        
        /*   Navbar   */
}

@media (max-width: 990px) {
    header {
        background: none;
    }

    #navMenus .links,
    #navMenus .ActionButton,
    #navMenus .Connexion {
        display: none;
    }

    .menuBurger {
        display: block;
    }

    #navMenus .menuBurgerIcone {
        display: block;
        top: 34px;
        right: 10px;
        margin-right: 10px;
    }

    .Connexion {
        margin-right: 0px;
    }
}

@media (width < 991px) {

    #navMenus {
        width: auto;
    }

    .dividerBandeau { 
        display: none;
    }

    .bandeau1 {
        align-items: center;
    }
}

@media (max-width: 550px) {
    .menuBurger {
        left: 2rem;
        width: unset;
    }

    .menuBurgerCarte {
        left: 5rem;
        width: unset;
    }
}

@media (width < 350px) {  /*    Gestion du dépassement du texte des bandeaux   */
    .BandeauxMain {
        font-size: small;
    }

    #messageCentre p {
        font-size: large;
    }
}

@media (height < 300px) {  /*    Gestion de l'affichage des réseaux    */
    
    .Contacts {
        display: none;
    }
}

@media (width < 175px) {  /*    Gestion de l'apparition du menu burger    */
    
    .menuBurger,
    .menuBurgerIcone,
    .menuBurgerIcone i,
    #navMenus {
        display: none;
    }
    .Contacts {
        display: none;
    }
}

@media (width < 100px) {  /*    Gestion de l'affichage logo    */
    
    #divlogo {
        margin: auto;
    }
}


/*  -------------  Responsive  -------------  */